Language:        Proto
IndentWidth:     4
AlignConsecutiveDeclarations:
  Enabled:           true
  AcrossEmptyLines:  false
  AcrossComments:    false
AlignConsecutiveAssignments:
  Enabled:           true
  AcrossEmptyLines:  false
  AcrossComments:    false